/*
	Main CSS
*/

html, body { margin: 0; }

body {

	min-width: 1000px;
	height: 100%;

	background-image: url('../img/stripes.png');
	background-size: auto;

	font-family: "Roboto";

	display: flex;
	flex-direction: column;

}


header, footer {

	background-color: #000;

	font-size: 14px;
	color: #666666;

	width: 100%;

}

a {

	color: inherit;

	text-decoration: none;

}

header>.content, main>.content, footer>.content {

	width: 1000px;

	margin: auto;

}

/*
	Header
*/
header {

	height: 50px;

}

header #account {

	float: right;

	line-height: 50px;

}

header #account * {

	display: inline-block;

	margin: 0 5px;

}

/*
	Footer
*/
footer {

	height: 200px;

}

footer .content { margin-top: 20px; }

footer #icons {}


footer #icons .icon {

	display: inline-block;

	float: left;

	margin-right: 25px;

	height: 20px;

}

footer #icons .icon img {

	height: 20px;

	opacity: 60%;

}

footer #copyright {

	float: right;

}

/*
	Main
*/
main {}

main>.content { background-color: #FFF; }

main nav {

	display: flex;

	height: 70px;

	color: white;
	font-family: "Roboto Slab";
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;

}

main nav>a {

	flex: 200px;

	text-align: center;
	line-height: 70px;

	background-color: #505050;

	cursor: pointer;

	transition: background-color 0.25s linear;

}

main nav>a.logo {

	flex: 100px;

	display: flex;

	justify-content: center;
  	align-items: center;

}

main nav>a.logo img {

	display: block;

	height: 30px;
	width: 30px;

	margin: auto;

}

main nav>a:hover {

	background-color: #8DB3C8;

}

#hero-image {

	margin: auto;
	overflow: auto;

	width: 900px;
	height: 390px;

	color: black;
	font-family: "Roboto";

	background-color: white;

	background-image: url('../img/ocean.jpg');
	background-size: cover;

}

#hero-image>.content {

	margin: 60px 0 0 50px;

}

#hero-image h1 {

	font-size: 40px;
	font-weight: 900;

	margin: 0;

}

#hero-image p {

	width: 300px;

	font-size: 12px;

	padding-top: 10px;
	border-top: 1px solid black;

}

#articles {

	display: inline-block;

	font-family: "Roboto", "Arial";
	font-size: 12px;

	width: 100%;
	height: 350px;

}

#articles .article {

	width: calc(700px/3);

	float: left;

	margin: 0 50px;

}

.article .img-container {

	width: 100%;
	height: 150px;

	line-height: 150px;
	text-align: center;

}

#articles .article img {

	margin-top: 50px;

	width: 75px;

}

#articles .article p {

	line-height: 1.5em;
	text-align: justify;

}
