html, body {

	width: 100%;
	height: 100%;

	margin: auto;

	background-color: #461d0f;

}

body {

	max-width: 900px;

	color: white;

	font-family: sans-serif;

}

body>* {

	margin: 10px;

}

hr { color: white; }

a { color: #FFF; text-decoration: none; }

.content {

	display: inline-block;

	margin: 20px 30px;

}

h1, h2 {

	font-family: serif;

	font-weight: bold;

}

h1 { font-size: 48px; margin-left: 25px; }
h2 { font-size: 36px; margin: 0px; }

nav, footer { background-color: #2f130a; }

nav {

	display: grid;
	grid-template-columns: repeat(4, 150px);

}

nav a {

	padding: 15px;

	text-align:center;

}

nav a:hover { background-color: rgba( 0, 0, 0, 0.15 ); }

header {

	display: inline-block;

	background-image: url("../images/background.jpg");
	background-size: cover;

}

main {

	display: flex;

	height: 400px;

}

main #sidebar {

	flex: 1;

	background-color: #95afac;

}

main #sidebar .content a {

	display: block;

	margin: 10px 0px;

	transition: color 0.25s;

}

main #sidebar .content a:hover { color: #2c5856; }


main #text {

	flex: 4;

	background-color: #dbd8c4;

}

main #text h2 { color: #2c5856 }
main #text p { color: #000; }

footer {

	margin-top: 10px;

	font-size: 12px;
	text-align: center;

	padding: 20px 0px;

}
