/*
	Description
*/

#description {

	position: relative;

	width: 100vw;

}

#description .content { height: 100vh; position: relative; }

#description .title {

	position: absolute;

	left: 50%;
	top: 30%;

	transform: translate( -50%, -50% );

	width: auto;

}

#description .title h1 {

	margin: 0;

	font-family: FuturaMD;
	font-size: 6vw;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	letter-spacing: 3px;

	white-space: nowrap;

	text-shadow:
		0 1px 0 #929292,
		0 2px 0 #8a8a8a,
		0 3px 0 #838383,
		0 4px 0 #7c7c7c,
		0 5px 0 #747474,
		0 6px 0 #6d6d6d,
		0 0 5px rgba( 23, 23, 23, 0.05 ),
		0 -1px 3px rgba( 23, 23, 23, 0.2 ),
		0 9px 9px rgba( 23, 23, 23, 0.3 ),
		0 12px 12px rgba( 23, 23, 23, 0.3 ),
		0 15px 15px rgba( 23, 23, 23, 0.3 );

}

#description .text {

	position: absolute;

	left: 50%;
	top: 75%;

	transform: translate( -50%, -50% );

	width: 60vw;

	font-family: FuturaBK;
	font-size: 1.25vw;
	text-decoration: none;
	color: #FFF;
	text-indent: 40px;
	text-align: justify;
	line-height: 30px;

}

#description .background {

	position: absolute;

	top: 0;

	width: 100%;
	height: 100%;

	background: #1D1D1D;

	z-index: -1;

}

#description .background .images {

	position: sticky;

	top: 0;

	width: 100vw;
	height: 100vh;

	overflow-x: hidden;

}

#description .background img {

	position: absolute;

	top: 50vh;

	height: 50vw;
	width: auto;

}

#description .background img:nth-child(1) {

	left: 0;

	transform: translate( -50%, -50% );

}
#description .background img:nth-child(2) {

	right: 0;

	transform: translate( 50%, -50% );

}


#video {

	width: 100%;
	height: auto;

	padding: 25px;

	min-height: 50vh;

}

#video video {

	position: absolute;

	left: 50%;

	transform: translate( -50%, 0% );

}
